.links {
    
}

.links ul {
  margin-right: 40px;
  margin-top: 20px;
}
.links li {
    list-style: none;
    display: inline-block;
    margin-left: 20px;
   
}

.links li a {
    text-decoration: none;
    color: #000;
}

.links a:hover {
    color: rgb(47, 0, 218);
}

.links .btn-outline-secondary {
    color: #ffffff;
    border-color: rgba(255, 255, 255, 0);
    background: #ffb000;
}

.firstrow {
    margin-top: 10rem;
}

.cardedit {
    margin-top: 5rem;
}

.cardedit .card {
   
     border: none; 
    border-right: 3px solid rgba(70 70 70 / 14%);
    border-bottom: 3px solid rgb(70 70 70 / 14%);
    border-radius: 0.3rem;
}

.cardedit .row {
    margin-top: 5rem;
}


